/* Fonts */
@font-face {
    font-family: 'CHANTELLI ANTIQUA';
    src: url(../fonts/Chantelli_Antiqua-webfont.woff) format('woff'),
         url(../fonts/Chantelli_Antiqua-webfont.tff) format('truetype');
}

h1 {
    font-size: 24px;
    font-family: 'Lemonada', cursive;
    font-weight: 700;
}

/* text styling */
p {
    font-family: arial;
    font-weight: 100;
    font-style: oblique;
    font-size: 30px;
    /* text-decoration: line-through; */
}

/* text transformation */

h2 {
    text-transform: capitalize;
    letter-spacing: 2px;
    word-spacing: 1px;
}

/* Text aligment and height */

h3 {
    text-align: justify;
    font-size: 30px;
    line-height: 1.5;
}

/* color */
h4 {
    font-size: 30px;
    /* color: rgba(170, 205, 11); */
    color: #ffff00;
}

/* flaot, clear */

img {
    width: 50%;
    float: right;
}

.clear {
    clear: both;
}