.block {
    width: 150px;
    height: 150px;
    background-color: orange;
    border: 1px solid red;
    font-size: 30px;
    color: white;

}

.container {
    display: flex;
    height: 400px;
    border: 1px solid #ccc;
    
/* 
    flex-direction: column;
    flex-wrap: wrap-reverse; */
    /* justify-content: center;
    align-items: center; */
}

.block-1 {

}

.block-2 {

}

.block-3 {

}

.block-4 {
    
}